*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}
.header{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 60px;
    padding: 10px;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 750px;
    background-color: rgb(43, 43, 121);
}
.nav:last-child{
    display: flex;
    align-items: flex-start;
}
.barra{
    display: flex;
    justify-content: center;
    background: blue;
    width: 100%;
    color: #fff;
    font-size: 1.6em;
    padding: 20px 0px;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.menu li{
    display: flex;
    align-items: center;
    list-style: none;
    width: 280px;
    height: 50px;
    color: #fff;
    font-size: 17px;
    margin-bottom: 15px;
    padding:10px ;
    padding-left: 10px;
}
.menu li:hover{
    background: rgba(8, 8, 255, 0.678);
    color: #000;

}
.menu__item i{
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.658);
    
}
@media screen and (max-width:640px) {
    body{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100vh;
    }
    .header{
        width: 100vw;
    }
    .nav{
        display: flex;
        justify-content: flex-start;
        align-items:center;
        width: 100%;
        height: 200px;
    }
    .barra{
        font-size: 1.5em;
        padding: 10px 0px;
    }
    .menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .menu li{
        display: flex;
        justify-content: center;
        width: 200px;
        height: 10px;
        padding:15px ;
    }
}
