@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    color: #fff;
}
body{ 
    display: flex;
    height: 100vh;
    justify-content: center;
    background: #161717;
 
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    gap: 20px; 
}
.botones{
    display: flex;
    align-self: flex-start;
    gap: 20px;
}
.google-btn{
    display: flex;
    align-items: center;
    border: none;
    background: #1a73eB;
    border-radius: 5px;
    height: 40px;
    padding: 2px;
}
.google-btn span{
    color:  #161717;
    padding: 15px;
    font-weight: 500;
}
.google-btn picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background:  #161717;
    border-radius: 2px;
}
.google-btn picture img{
    width: 80%;
}
.google-btn:hover{
    opacity: 0.75;
    cursor: pointer;
}
.twitter-btn{
    display: flex;
    align-items: center;
    border: none;
    background: #161717;
    border-radius: 5px;
    height: 40px;
    padding: 5px;
}
.twitter-btn picture{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 36px;
   height: 36px;
   border-radius: 2px;
}
.twitter-btn picture img{
    width: 80%;
}
.twitter-btn:hover{
    background: #ddd;
    cursor: pointer;
}
.separador{
    display: flex;
    width: 100%;
    gap:15px
}
.separador hr{
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}
.separador span{
    color: #8b8b8b;
}
.section-inputs{
    display: flex;
    gap: 20px;
}
.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkbox span{
    font-weight: 400;
}
.submit{
    background: #EA4C89;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
}
.submit:hover{
    opacity: 0.75;
    outline: none;
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
label{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-bottom: 20px;
}
label span{
    font-weight: 700;
    margin-bottom: 10px;
}

.checkbox input[type="checkbox"]{
    width: 20px;
    outline: none;
    box-shadow: none;
  
}
input{
    width: 100%;
    background-color: #212121;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14pt;  
    transition: background 1s ,border 1s ,box-shadow 1s; 
}
input:hover , input:focus{
    background:#454045;
    outline: 1px solid #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4f;
}



