*{
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #ccc;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    border: 3px solid rgb(6, 63, 6);
    padding: 10px;
    background: #fff;
    
}
.btn:hover .btn-modern{
    transform: translatey(-5px);
    box-shadow: 0px 0px 20px #000;
}
.btn-modern{
    width: 100%;
    height: 100%;
    background: rgb(15, 228, 15);
    color: #fff;
    font-size: 1.5em;
    border: none;
    transition: all 0.4s;
}
.btn-modern::before{
    content: "button";
}
.btn-modern:hover:before{
    content: "hover";
    color: #000;
    font-weight: 600;
}
.btn-modern:hover{
    background: rgba(9, 235, 235, 0.952);
}