*{
    box-sizing: border-box;
}
body{
    background-color: #3cb9;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.boton{
    padding: 20px;
    border:10px solid #000;
    background-color: aqua;
}
.boton button{
     margin: auto;
    width: 400px;
    height: 100px;
    font-size: 2em;
    background-color: red;
}
 .boton button::before{
    content: "Pasa por encima";
    color: #000;
    font-weight: 900;
}
.boton button:hover::before{
    content: "hecho";
    color: #fff;
    font-weight: 900;
}
.boton button:hover{
    background: #0f09;
}

